
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen {
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: inline-grid;
    align-items: center;
    justify-content: center;
    background-color: rgba(71, 79, 115, 0.79)
  }

  .main-container {
    display: grid;
    grid-gap: 0.4rem;
    grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
    width: 90vw;
    margin-top: 3vh;
  }

  .header-container {
    grid-area: header;
    background-color: #59A4A0;
    border-radius: 10px;
  }

  .personal-data {
    grid-area: sidebar;
    font-size: medium;
    border-radius: 10px;
    border: 0.1rem solid rgb(235, 230, 230);
     background-color: #14192D;
  }

  .my-bg-dark {
    background-color: #14192D;
    color: rgba(255, 255, 255, 0.657);
    border-radius: 20px;
    border-bottom: dashed 0.05rem rgba(255, 255, 255, 0.443);
    border-top: dashed 0.05rem rgba(255, 255, 255, 0.443);
  }

  .experience-container {
    grid-area: main;
    font-size: medium;
    border-radius: 10px;
    border: 0.1rem solid rgb(235, 230, 230);
  }

  .footer-container {
    grid-area: footer;
    font-size: medium;
    border-radius: 10px;
    border: 0.1rem solid rgb(235, 230, 230);
    padding-bottom: 1rem;
  }

  .titulo {
    color: #14192D;
    font-weight: bold;
  }

  .paragraph {
    font-size: small;
  }

  .small-paragraph {
    font-size: x-small;
  }

  .small-thin-paragraph {
    font-size: xx-small;
  }

  .my-photograph {
    width: 8rem !important;
    height: 8rem !important;
  }

  .bg-ocre {
    background-color: #DC9B40;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  ul {
    margin-bottom: 0rem;
    padding: 0;
    text-indent: 0rem;
  }

  li {
    list-style-type: disc;
    text-indent: 0rem;
  }

  li::marker {
    color: #59A4A0;
    font-size: 1.2em;
  }

  .row {
    padding: 0;
    margin: 0;
  }

  p {
    margin-bottom: 0;
  }

  svg {
    fill: #59A4A0;
    width: 1rem;
    height: 1rem;
  }

  .experience-container svg {
    width: 0.6rem;
    height: 0.6rem;
  }

  a {
    color: #59A4A0;
  }

  a:hover {
    color: #59A4A0;
  }

  .my-bg-dark a{
    color: rgba(255, 255, 255, 0.657);
  }

  .my-bg-dark a:hover{
    color: #DC9B40;
  }

  .icon-skills {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.2rem 0 0.2rem 0 ;
  }
  
  .bi.git,.github{
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  }   

  .icon-format{
    width: 1rem;
    height: 1rem;
    padding: 0;
    margin: 0;
  }

  .icon-format.small{
    width: 0.7rem;
    height: 0.7rem;
  }


  .icon img {
    fill: currentColor;
    filter: invert(9%) sepia(99%) saturate(5630%) hue-rotate(246deg) brightness(111%) contrast(148%);
  }  
 
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: inline-grid;
    align-items: center;
    justify-content: center;
  }

  .main-container {
    display: grid;
    grid-gap: 4px;
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
  }

  .header-container {
    grid-area: header;
    background-color: #59A4A0;
    border-radius: 10px;
  }

  .personal-data {
    grid-area: sidebar;
    font-size: xx-small;
    border-radius: 10px;
    border: 0.1rem solid rgb(235, 230, 230);
  }

  .experience-container {
    grid-area: main;
    font-size: xx-small;
    border-radius: 10px;
    border: 0.1rem solid rgb(235, 230, 230);
  }

  .footer-container {
    grid-area: footer;
    font-size: xx-small;
    border-radius: 10px;
    border: 0.1rem solid rgb(235, 230, 230);
  }

  .titulo {
    color: #14192D;
    font-size: medium;
  }

  .paragraph {
    font-size: small;
  }

  .small-paragraph {
    font-size: small;
  }

  .small-thin-paragraph {
    font-size: xx-small;
    font-weight: 100;
  }

  .my-photograph {
    width: 5rem;
    height: 5rem;
  }

  .bg-ocre {
    background-color: #DC9B40;
    display: inline-grid;
    justify-content: center;
    align-items: center;
  }

  li {
    list-style-type: disc;
    text-indent: 0rem;
    padding: 0;
    margin: 0;
  }

  li::marker {
    color: #59A4A0;
    font-size: 1.2em;
  }

  .row {
    padding: 0;
    margin: 0;
  }

  p {
    margin-bottom: 0; 
  }

  svg {
    fill: #59A4A0;
    width: 0.7rem;
    height: 0.7rem;
  }

  .experience-container svg {
    width: 0.6rem;
    height: 0.6rem;
  }

  a {
    color: #59A4A0;
  }

  a:hover {
    color: #DC9B40;
  }
  
  .my-bg-dark a{
    color: rgba(255, 255, 255, 0.657);
  }

  .my-bg-dark a:hover{
    color: #DC9B40;
  }

  .icon-skills {
    width: 1.3rem;
    height: 1.3rem;
    margin: 0.2rem 0 0.2rem 0 ;
  }
  
  .bi.git,.github{
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  }

  .icon-format{
    width: 0.8rem;
    height: 0.8rem;
    padding: 0;
    margin: 0.1rem 0 0 0;
  }

 
  .icon img {
    fill: currentColor;
  }
 
}