@media screen {
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: inline-grid;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10vh;
  }

  body.body-background {
    background-color: #ccccd9;
    /*rgb(71, 79, 115);*/
  }

  .main-container {
    position: relative;
    display: grid;
    grid-gap: 0.4rem;
    grid-template-areas:
      "menu  menu"
      "header header"
      "sidebar main"
      "footer footer";
    width: 90vw;
    margin-top: 3vh;
  }

  .navbar-toggler-icon.button-icon {
    width: 1rem;
    height: 1rem;
  }

  .header-container {
    grid-area: header;
    background-color: #59A4A0;
    border-radius: 10px;
    padding: 0;
    margin: 0;
  }

  .personal-data {
    grid-area: sidebar;
    font-size: medium;
    border-radius: 10px;
    border: 0.1rem solid rgb(235, 230, 230);
    background-color: #14192D;
  }

  .my-bg-dark {
    background-color: #14192D;
    color: rgba(255, 255, 255, 0.657);
    border-radius: 20px;
    border-bottom: dashed 0.05rem rgba(255, 255, 255, 0.443);
    border-top: dashed 0.05rem rgba(255, 255, 255, 0.443);
  }

  .experience-container {
    grid-area: main;
    font-size: medium;
    border-radius: 10px;
    border: 0.1rem solid rgb(235, 230, 230);
  }

  .footer-container {
    grid-area: footer;
    font-size: medium;
    border-radius: 10px;
    border: 0.1rem solid rgb(235, 230, 230);
    padding-bottom: 1rem;
  }

  .titulo {
    color: #14192D;
    font-weight: bold;
  }

  .text-light {
    color: rgb(235, 230, 230);
    font-family: cursive;
  }

  button.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.443);
  }

  .paragraph {
    font-size: small;
  }

  .small-paragraph {
    font-size: medium;
  }

  .small-thin-paragraph {
    font-size: xx-small;
  }

  .my-photograph {
    width: 8rem !important;
    height: 8rem !important;
  }

  .bg-ocre {
    background-color: #DC9B40;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  li::marker {
    color: #59A4A0;
    font-size: 1.2em;
  }

  .row {
    padding: 0;
    margin: 0;
  }

  svg {
    fill: #59A4A0;
    width: 1rem;
    height: 1rem;
  }

  .experience-container svg {
    width: 0.6rem;
    height: 0.6rem;
  }

  .my-bg-dark a {
    color: rgba(255, 255, 255, 0.657);
  }

  .my-bg-dark a:hover {
    color: #DC9B40;
  }

  .my-bg-light a {
    color: #59A4A0;
  }

  .my-bg-light a:hover {
    color: #DC9B40;
  }

  .icon-skills {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.2rem 0 0.2rem 0;
  }

  .icon-format {
    width: 1rem;
    height: 1rem;
    padding: 0;
    margin: 0;
  }

  .icon-format.small {
    width: 0.7rem;
    height: 0.7rem;
  }

  .icon-logo {
    max-width: 10rem;
    max-height: 3rem;
  }

  #contact-info {
    align-self: end;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que la ventana modal esté en la parte superior */
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilos adicionales para la imagen */
  .modal-content img {
    max-width: 100%;
    max-height: 80vh; /* Altura máxima del contenido */
  }
  
  /* Estilos adicionales para el botón de cerrar */
  .modal-content button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
  }

  .layout-border{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: inline-flex;
  }

  .custom-select{
    border: none; 
    border-bottom: 1px solid black;
  }

  .custom-select select::selection {
    outline: none; /* Elimina el contorno al hacer clic en el elemento */
  }

  .backgorund-color-navbar{

    background-color: rgba(255, 255, 255, 0.90);
  }


}

@media screen and (max-width: 768px) {

  .layout-border{
    border-radius: 20;
    border-color: gray;
  }
  
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: inline-grid;
    align-items: center;
    justify-content: center;

  }

  body.body-background {
    background-color: #ccccd9;
  }

  .main-container {
    display: grid;
    grid-gap: 4px;
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
  }

  .header-container {
    grid-area: header;
    background-color: #59A4A0;
    border-radius: 10px;
  }

  .personal-data {
    grid-area: sidebar;
    font-size: xx-small;
    border-radius: 10px;
    border: 0.1rem solid rgb(235, 230, 230);
  }

  .experience-container {
    grid-area: main;
    font-size: xx-small;
    border-radius: 10px;
    border: 0.1rem solid rgb(235, 230, 230);
  }

  .footer-container {
    grid-area: footer;
    font-size: xx-small;
    border-radius: 10px;
    border: 0.1rem solid rgb(235, 230, 230);
  }

  .titulo {
    color: #14192D;
    font-size: medium;
  }

  .paragraph {
    font-size: small;
  }

  .small-paragraph {
    font-size: small;
  }

  .small-thin-paragraph {
    font-size: xx-small;
    font-weight: 100;
  }

  .my-photograph {
    width: 5rem;
    height: 5rem;
  }

  .bg-ocre {
    background-color: #DC9B40;
    display: inline-grid;
    justify-content: center;
    align-items: center;
  }

  li {
    list-style-type: disc;
    text-indent: 0rem;
    padding: 0;
    margin: 0;
  }

  li::marker {
    color: #59A4A0;
    font-size: 1.2em;
  }

  .row {
    padding: 0;
    margin: 0;
  }

  .experience-container svg {
    width: 0.6rem;
    height: 0.6rem;
  }

  .my-bg-dark a {
    color: rgba(255, 255, 255, 0.657);
  }

  .my-bg-dark a:hover {
    color: #DC9B40;
  }

  .icon-skills {
    width: 1.3rem;
    height: 1.3rem;
    margin: 0.2rem 0 0.2rem 0;
  }

  .icon-format {
    width: 0.8rem;
    height: 0.8rem;
    padding: 0;
    margin: 0.1rem 0 0 0;
  }

  .icon img {
    fill: currentColor;
  }

  div.row-display-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

  }

  #contact-info {
    text-align: center;
    align-self: center;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que la ventana modal esté en la parte superior */
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilos adicionales para la imagen */
  .modal-content img {
    max-width: 100%;
    max-height: 80vh; /* Altura máxima del contenido */
  }
  
  /* Estilos adicionales para el botón de cerrar */
  .modal-content button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
  }
  
}